@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-[#0d1117] font-Inter;
  }
}

::-webkit-scrollbar-track {
  background-image: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-image: linear-gradient(#00000 36.97%, #00000 64.97%);
}
