@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-[#0d1117] font-Inter transition duration-100;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-image: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #1f61fb;
}
